---
const { class: className, href } = Astro.props;
---

<a
  class=`text-xs md:text-base rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-3 px-3 bg-white/5 hover:scale-110 transition hover:bg-white/10 z-50 cursor-pointer ${className}`
  href={href}
  target="_blank"
  rel="noopener"
>
  <slot />
</a>
